*.[ao]
*.mo
*.la
*.lo
.deps
.libs

CMakeFiles
CMakeCache.txt
Makefile
Makefile.in
config.h
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
.DS_Store

# DevEnv
.trae/

# TigerVNC OHOS Client Build
build-ohos-client/

# OHOS App Build and IDE
.hvigor/
ohos_app/.appanalyzer/
ohos_app/.hvigor/
ohos_app/.hvigor_userhome/
ohos_app/.idea/
ohos_app/.ohos_sdk/
ohos_app/entry/.cxx/
ohos_app/entry/.preview/
ohos_app/entry/build/
ohos_app/local.properties
ohos_app/test.ets
ohos_app/test.js
ohos_app/oh_modules/
ohos_app/entry/oh_modules/
ohos_app/build/
.VSCodeCounter/
ohos_app/entry/src/main/cpp/build/libvncviewer.so
prebuilts/
ohos_app/entry/src/main/ets/utils/BuildInfo.ets
ohos_app/entry/src/main/resources/rawfile/privacy-policy.md
ohos_app/entry/src/main/resources/rawfile/user-agreement.md
build_tools/gnutls/cache/
build_tools/gnutls/work/

# Android App Build and IDE
android_app/.gradle/
android_app/.idea/
android_app/.kotlin/
android_app/local.properties
android_app/*.iml
android_app/build/
android_app/app/build/
android_app/app/.cxx/
android_app/captures/
certs/green/
certs/android/
certs.zip
